<footer class="footer">
    <div class="icons">
        <i class='fas fa-phone' style='font-size: 50px;color:white'></i>
    </div>
    <div class="number">  <p> tel:+(27) 73 778 9898</p></div>
    
    <div class="icon-2">
    <i class='fas fa-envelope-open' style='font-size: 50px;color:white'></i>
    </div>
    <div class="email">
      <p> email:BlackWidowWeb.co.za</p>
    </div>

     
    <div class="icon-3">
        <i class='	fas fa-map-marked-alt' style='font-size: 50px;color:white'></i>
        </div>
        <div class="location">
          <p> 141 Avoca Hills Drive, Avoca, Durban, 4001</p>
        </div>

  </footer>
  